fastapi==0.101.1
uvicorn==0.23.2
SQLAlchemy==2.0.20
alembic==1.10.4
pydantic==1.10.12
python-dotenv==1.0.0
PyMySQL==1.1.0
celery==5.3.1
redis==6.4.0
python-jose==3.3.0
passlib[bcrypt]==1.7.4
cryptography==41.0.3
prompt-toolkit
six
wcwidth 
MarkupSafe